body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
}
h1 {
    color: whitesmoke;
    text-align: center;
}

p {
    color: #333;
    text-align: center;
}
.math-widget {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.math-widget input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.math-widget button {
    width: 100%;
    padding: 10px;
    background-color: #ffefff;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.math-widget button:hover {
    background-color: #ffe6f7;
}


.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
button.active {
    background-color: #ffb6c1;
    color: #fff;
    transform: scale(1.00)
}

