body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 16px;  
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
    font-size: 18px;
}

.todo-container {
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

#taskInput {
    width: 275px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#taskButton {
    padding: 10px 20px;
    background-color: #dd99bb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#taskButton:hover {
    background-color: #cc88aa;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.todo-item.completed .task-text {
    text-decoration: line-through;
    color: #999;
}
.task-text {
    flex: 1;
    margin-right: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stats p2 {
    font-size: 16px;
    color: #333;
}

.stats span {
    font-weight: bold;
}

.pending {
    background-color: rgb(255, 255, 180);
    padding: 5px;
}

.done {
    background-color: #b6dcfc;
    padding: 5px;
    text-decoration: line-through;
}

#output {
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
